<nav class="navbar nav-color nav-pills nav-fill">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img class="img-fluid img-logo-navbar" src="{{ url_for('static', filename='img/logo/logo.png') }}"
                    alt="Ferremas_logo">
            </a>
        </li>
    </ul>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Catalogo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
        </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="{{ url_for('static', filename='img/icons/carrito.png') }}" alt="a">
            </a>
        </li>
    </ul>
</nav>